<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="si.gos.transpiler.core.transpiler" name="Transpiler" schema="schema/transpiler.exsd"/>

   <extension
         id="si.gos.transpiler.nature"
         name="Transpiler Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="si.gos.transpiler.core.TranspilerNature">
         </run>
      </runtime>
      <builder
            id="si.gos.transpiler.builder.TranspilerBuilder">
      </builder>
   </extension>
   <extension
         id="si.gos.transpiler.builder.TranspilerBuilder"
         name="Transpiler Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="si.gos.transpiler.core.builder.TranspilerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="si.gos.transpiler.core.transpiler">
      <transpiler
            class="si.gos.transpiler.core.transpiler.generic.GenericTranspiler"
            id="si.gos.transpiler.core.transpiler.generic"
            name="Generic">
      </transpiler>
      <transpiler
            class="si.gos.transpiler.core.transpiler.less.LessTranspiler"
            cmd="$path $options $source $destination"
            destinationExtension="css"
            id="si.gos.transpiler.core.transpiler.less"
            name="LESS"
            sourceExtension="less">
         <option
               description="Compress output by removing some whitespaces."
               name="compress"
               short="x"
               type="boolean">
         </option>
         <option
               description="Compress output using clean-css"
               name="clean-css"
               type="boolean">
         </option>
         <option
               description="Set include paths. Separated by `:&apos;. Use `;&apos; on Windows."
               name="include-path"
               type="param">
         </option>
         <option
               description="Outputs a v3 sourcemap to the filename (or output filename.map)"
               name="source-map"
               type="param">
         </option>
         <option
               description="adds this path onto the sourcemap filename and less file paths"
               name="source-map-rootpath"
               type="param">
         </option>
         <option
               description="Sets sourcemap base path, defaults to current working directory."
               name="source-map-basepath"
               type="param">
         </option>
         <option
               description="puts the less files into the map instead of referencing them"
               name="source-map-less-inline"
               type="boolean">
         </option>
         <option
               description="puts the map (and any less files) into the output css file"
               name="source-map-map-inline"
               type="boolean">
         </option>
         <option
               description="the complete url and filename put in the less file"
               name="source-map-url"
               type="param">
         </option>
         <option
               description="Set rootpath for url rewriting in relative imports and urls. Works with or without the relative-urls option."
               name="rootpath"
               short="rp"
               type="param">
         </option>
         <option
               name="relative-urls"
               short="ru"
               type="boolean">
         </option>
         <option
               description="Turn on or off strict math, where in strict mode, math requires brackets. This option may default to on and then be removed in the future."
               name="strict-math"
               short="sm"
               type="enum">
            <value
                  name="on">
            </value>
            <value
                  name="off">
            </value>
         </option>
         <option
               description="Allow mixed units, e.g. 1px+1em or 1px*1px which have units that cannot be represented."
               name="strict-units"
               short="su"
               type="enum">
            <value
                  name="on">
            </value>
            <value
                  name="off">
            </value>
         </option>
      </transpiler>
      <transpiler
            class="si.gos.transpiler.core.transpiler.sass.SassTranspiler"
            cmd="$path $options $source $destination"
            destinationExtension="css"
            id="si.gos.transpiler.core.transpiler.sass"
            name="SASS"
            sourceExtension="sass">
         <option
               description="Output style. Can be nested (default), compact, compressed, or expanded."
               name="style"
               short="t"
               type="enum">
            <value
                  name="nested">
            </value>
            <value
                  name="compact">
            </value>
            <value
                  name="compressed">
            </value>
            <value
                  name="expanded">
            </value>
         </option>
         <option
               description="How many digits of precision to use when outputting decimal numbers.Defaults to 5."
               name="precision"
               type="param">
         </option>
         <option
               description="Make Compass imports available and load project configuration."
               name="compass"
               type="boolean">
         </option>
         <option
               description="Add a sass import path."
               name="load-path"
               short="I"
               type="param">
         </option>
         <option
               description="Require a Ruby library before running Sass."
               name="require"
               short="r"
               type="param">
         </option>
         <option
               description="The path to put cached Sass files. Defaults to .sass-cache."
               name="cache-location"
               type="param">
         </option>
         <option
               description="Don&apos;t cache to sassc files."
               name="no-cache"
               short="C"
               type="boolean">
         </option>
         <option
               description="Create sourcemap files next to the generated CSS files."
               name="sourcemap"
               type="boolean">
         </option>
         <option
               description="Specify the default encoding for Sass files."
               name="default-encoding"
               short="E"
               type="param">
         </option>
      </transpiler>
      <transpiler
            class="si.gos.transpiler.core.transpiler.scss.ScssTranspiler"
            cmd="$path $options --scss $source $destination"
            destinationExtension="css"
            id="si.gos.transpiler.core.transpiler.scss"
            name="SCSS"
            sourceExtension="scss">
         <option
               description="Output style. Can be nested (default), compact, compressed, or expanded."
               name="style"
               short="t"
               type="enum">
            <value
                  name="nested">
            </value>
            <value
                  name="compact">
            </value>
            <value
                  name="compressed">
            </value>
            <value
                  name="expanded">
            </value>
         </option>
         <option
               description="How many digits of precision to use when outputting decimal numbers.Defaults to 5."
               name="precision"
               type="param">
         </option>
         <option
               description="Make Compass imports available and load project configuration."
               name="compass"
               type="boolean">
         </option>
         <option
               description="Add a sass import path."
               name="load-path"
               short="I"
               type="param">
         </option>
         <option
               description="Require a Ruby library before running Sass."
               name="require"
               short="r"
               type="param">
         </option>
         <option
               description="The path to put cached Sass files. Defaults to .sass-cache."
               name="cache-location"
               type="param">
         </option>
         <option
               description="Don&apos;t cache to sassc files."
               name="no-cache"
               short="C"
               type="boolean">
         </option>
         <option
               description="Create sourcemap files next to the generated CSS files."
               name="sourcemap"
               type="boolean">
         </option>
         <option
               description="Specify the default encoding for Sass files."
               name="default-encoding"
               short="E"
               type="param">
         </option>
      </transpiler>
      <transpiler
            class="si.gos.transpiler.core.transpiler.coffeescript.CoffeeScriptTranspiler"
            cmd="$path $options -o $destination $source"
            destinationExtension="js"
            id="si.gos.transpiler.core.transpiler.coffeescript"
            name="CoffeeScript"
            sourceExtension="coffee">
         <option
               description="compile without a top-level function wrapper"
               name="bare"
               short="b"
               type="boolean">
         </option>
         <option
               description="generate source map and save as .map files"
               name="map"
               short="m"
               type="boolean">
         </option>
         <option
               description="suppress the &quot;Generated by&quot; header"
               name="no-header"
               type="boolean">
         </option>
      </transpiler>
      <transpiler
            class="si.gos.transpiler.core.transpiler.traceur.TraceurTranspiler"
            cmd="$path $options --out $destination $source"
            destinationExtension="js"
            id="si.gos.transpiler.core.transpiler.traceur"
            name="Traceur"
            sourceExtension="js">
         <option
               description="Generate source maps"
               name="sourcemap"
               type="boolean">
         </option>
         <option
               description="Turns on all experimental features"
               name="experimental"
               type="boolean">
         </option>
      </transpiler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="si.gos.transpiler.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
</plugin>
