<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="si.gos.transpiler.ui.preferences.TranspilerPage"
            id="si.gos.transpiler.ui.preferences.TranspilerPreferencePage"
            name="Transpilers">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="si.gos.transpiler.ui.preferences.ProjectTranspilerPage"
            id="si.gos.transpiler.ui.preferences.projectPropertyPage"
            name="Transpilers">
         <enabledWhen>
         	<and>
		        <adapt
		              type="org.eclipse.core.resources.IProject">
		        </adapt>
            	<test 
            		value="si.gos.transpiler.nature"
					property="org.eclipse.core.resources.projectNature">
            	</test>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <!--<extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="si.gos.transpiler.ui.handler.ToggleTranspilerNatureHandler"
            id="si.gos.transpiler.ui.addTranspilerSupport"
            name="Add Transpiler Support">
      </command>
      <command
            defaultHandler="si.gos.transpiler.ui.handler.ToggleTranspilerNatureHandler"
            id="si.gos.transpiler.ui.removeTranspilerSupport"
            name="Remove Transpiler Support">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="si.gos.transpiler.ui.addTranspilerSupport"
               label="Add Transpiler Support"
               style="push">
            <visibleWhen checkEnabled="false">
				<with variable="selection">
	          		<iterate>
	            		<not>
	            			<test 
	                    		value="si.gos.transpiler.nature"
								property="org.eclipse.core.resources.projectNature">
	                    	</test>
	                    </not>
	            	</iterate>
	            </with>
            </visibleWhen>
         </command>
         <command
               commandId="si.gos.transpiler.ui.removeTranspilerSupport"
               label="Remove Transpiler Support"
               style="push">
            <visibleWhen checkEnabled="false">
				<with variable="selection">
	          		<iterate>
	            		<test 
                    		value="si.gos.transpiler.nature"
							property="org.eclipse.core.resources.projectNature">
                    	</test>
	                </iterate>
	            </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>-->
   <!-- WORKAROUND -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="si.gos.transpiler.ui.addTranspilerNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="si.gos.transpiler.ui.actions.AddTranspilerNatureAction"
               id="si.gos.transpiler.ui.addTranspilerNature"
               label="Add Transpiler Support"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <not>
                  <objectState
                        name="nature"
                        value="si.gos.transpiler.nature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="si.gos.transpiler.ui.removeTranspilerNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="si.gos.transpiler.ui.actions.RemoveTranspilerNatureAction"
               id="si.gos.transpiler.ui.removeTranspilerNature"
               label="Remove Transpiler Support"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectState
                     name="nature"
                     value="si.gos.transpiler.nature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
